@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MyFarm</h1>
    <p class="lead">O sistema MyFarm tem o objetivo de gerenciar seus animais, otimizando assim seu tempo e trazendo maior segurança para sua fazenda.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Saiba Mais &raquo;</a></p>
</div>

